<nav  class="navabar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label><img class="logo" src="images/header/alk-logo.png" alt="logo"></label>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="/contact-us">Contact us</a></li>
    </ul>
</nav>