<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    
    <div id="contact-background">
        <div class="contact-card">
            <div><h2>If you have any enquires<br><span>feel free to</span></h2></div>
            <div><a href="/index"><button>email us</button></a></div>
            <div><h3><span>or</span><br>call us: 07708424819</h3></div>
        </div>
    </div>
</body>
</html>